main {
	position: relative;
}

.sg-section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-attachment: fixed;
}

.sg-content {
    color: $light;
    position: relative;
    margin: 10vh 10vw;
    min-height: calc(100vh - 20vh);
} 

.sg-isologo-a,
.sg-isologo-b {
	background-attachment: unset;
    background-size: 100%;
    display: block;    
}

.sg-isologo-a {        
    width: 39vh;
    height: 36vh;
    top: 32vh;
    left: 19vw;
}

.sg-isologo-b {	
    width: 37vh;
    height: 65vh;
    top: 17vh;
    left: 19vw;
}

.iso-a {
  -webkit-animation: smooth 50s infinite;
  animation: smooth 50s infinite;
  transition: 0.3s;
}

.iso-b {
  -webkit-animation: smooth 40s infinite;
  animation: smooth 40s infinite;
  transition: 0.3s;
} 


@-webkit-keyframes smooth {
	0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
		margin-left: 5px;
		margin-top: 10px;
	}

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		margin-left: -5px;
		margin-top: -10px;
	}
}

@keyframes smooth {
    0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
		margin-left: 5px;
		margin-top: 10px;
	}

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		margin-left: -5px;
		margin-top: -10px;
	}
}


.footer {
	background: url(../img/trama-b.jpg) repeat 50% transparent;
	color: $light;
}


@media screen and (max-width: 991px) {
	.sg-content {
	    margin: 10vh 0;
	}

	.sg-isologo-a {
		width: 24vh;
	    height: 20vh;
	    top: unset;
	    left: 50%;
	    bottom: 11vh;
	    margin-left: -12vh;
	}

	.sg-isologo-b {
		width: 24vh;
	    height: 45vh;
	    top: unset;
	    left: 50%;
	    bottom: 0vh;
	    margin-left: -12vh;
	}

	#fp-nav.fp-left {
	    left: 1rem;
	}
}