.sg-song-title {
	font-family: $featured;
	font-size: $title; 	    
	text-shadow: 1px 2px 2px $purple;
	text-transform: uppercase;
	font-weight: 900;
}

.sg-song-lyric {
	span {
		display: block;
		font-size: 3rem;
	}
}